* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  height: 100vh;
}

.content {
  width: 100%;
  overflow: auto;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 5rem;
  gap: 10px;
  background: #1a202c;
}


.notification {
  & span {
    font-size: 28px;
    color: #e7e6e6;
  }
}

.container-pesquisa {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  margin-right: 70px;

  & .input-pesquisa {
    border: none;
    border-radius: 10px 0px 0px 10px;
    padding: 12px 80px 12px 16px;

    &:focus {
      border: none;
    }
  }

  & img {
    height: 24px;
    width: 24px;
    margin: 0.5rem 1rem;
    cursor: pointer;
  }
}
